body{
  font-size: 16px;
}

h1, h2, h3{
  text-transform: uppercase;
  font-size: 1.7rem;
}

#card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ul {
  list-style-type: none;
  margin-left: 5rem;
}
